/* form {
    float: right;
} */

button {
    background-color: aqua;
    margin: 10px;
}

#gifColumn{
    margin-left: 15px;
}

.container{
    margin-right: 40px;
}
.gifDiv {
    float: left;
    padding: 20px;
    clear: right;
   
}
.row {
    margin: 10px;
}